/*body{
	background:  url("../images/clouds2.gif") no-repeat center center fixed; 
  	background-size: cover;
}
*/
.margin-top{
	height: 20px;
}


.row{
	width: 100%;
	margin: 0 auto;
}

.col-sm-4{
	padding-left: 7px;
	padding-right: 7px;
}

.journal{
	background-color: rgba(255,160,122, .8);
	border: 2px solid black;
	border-bottom-width: 0px;
	border-bottom-style: none;
	border-radius: 10px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	height: 140px;
	margin: 10px 0;
	margin-bottom: 0px;
    overflow: auto;
}
.like-dream{
	background-color: rgba(127, 255, 212, .8);
	color: white;
	border: 2px solid black;
	border-top-width: 0px;
	border-top-style: none;
	border-radius: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	padding-top: 3px;
}

.like-dream-heart{
	display: inline-block;
	color: white;
	padding-left: 5px;
}

.like-dream-thumbs-up{
	display: inline-block;
	color: white;
	float: right;
}

.dream-name{
	border-bottom: 4px solid black;
	text-align: center;
	margin-top: -5px;
	/*background:  url("../images/clouds3.gif") ; */
	color: white; 

	font-family: 'Indie Flower', cursive;

	font-size: 1.8em;
	/*font-weight: bold;*/
}

.dream-name a{
	color: white;
	text-decoration: none;
}

.dream-name a:hover{
	color: rgb(51,122,183);
	cursor: hand;
	cursor: pointer;
}

.glyphicon-heart{
	color: white;
	font-size: 1.5em;
	/*margin-right: 10px;*/
}

.likes{
	font-size: 1.2em;
	position: relative;
	bottom: 2px;
	left: 10px;
}

.glyphicon-thumbs-up{
	color: white;
	font-size: 1.5em;
	margin-right: 10px;
}

.glyphicon-thumbs-up:hover{
	color: rgb(40,97,146);
	font-size: 1.5em;
	margin-right: 10px;
	cursor: hand;
	cursor: pointer;
}


.glyphicon-option-vertical{
	font-size: 1.5em;
}

.glyphicon-cloud{
	top: 10px;
	font-size: 1.5em;
	color: white;
}

.refresh{
	/*background-color: red;*/
	margin: 20px 0;
	text-align: center;
}

.glyphicon-refresh{
	font-size: 4em;
	color: white;
	margin-bottom: 15px;
}

.glyphicon-refresh:hover{
	color: rgb(250,128,114);
	cursor: hand;
	cursor: pointer;
	-webkit-animation: cycle 2s infinite linear;
	animation: cycle 2s infinite linear;

}

@-webkit-keyframes cycle {
	    from {
	        -ms-transform: rotate(0deg);
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    to {
	        -ms-transform: rotate(360deg);
	        -webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
	    }
	}

	@keyframes cycle {
	    from {
	        -ms-transform: rotate(0deg);
	        -webkit-transform: rotate(0deg);
	        transform: rotate(0deg);
	    }
	    to {
	        -ms-transform: rotate(360deg);
	        -webkit-transform: rotate(360deg);
	        transform: rotate(360deg);
	    }
	}

.dream-content{
	margin: 0 10px;
}
