.panel {
        text-align: center;
        margin: 0 auto;
        padding: 0.5em;
        width: 50%;
}

#thankyoubox {
        position: relative;
        top: 100px;
}

img {
        margin: 0 auto;
}

@media(max-width: 768px){
	.panel {
	        width: 80%;
	}
}
